.press {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
  padding: 100px;
}
.press-welcome {
  height: 800px;
}
.press-content-container {
  min-height: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 30px;
}
.press-card {
  position: relative;
  background: white;
  box-shadow: var(--shadow);
  width: 350px;
  height: 500px;
  border-radius: 3px;
}
.press-card-img-container {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.press-card-img {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}
.press-card-text-container {
  background: white;
  width: 100%;
  height: 175px;
  position: absolute;
  bottom: 0;
  padding: 10px;
  border-radius: 3px;
}
.press-card-text-container p {
  text-align: left;
  margin-top: 10px;
  font-size: 13px;
}

.press-card-link:link,
.press-card-link:visited {
  color: black;
}
.press-card-link:hover,
.press-card-link:active {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.425);
  transform: translateY(-5px);
  transition: 1s;
}
@media screen and (max-width: 1100px) {
  
  .press-content-container {
    width: 600px;
    grid-template-columns: repeat(1, 1fr);
  }
  .press-card {
    width: 600px;
    height: 700px;
  }
  .press-card-img-container {
    height: 600px;
  }
  .press-card-text-container h4 {
    font-size: 22px
  }
  .press-card-text-container p {
    font-size: 18px;
  }
}

@media screen and (max-height: 850px) {
  .press-welcome {
    height: 700px;
  }
}
@media screen and (max-height: 700px) {
  .press-welcome {
    height: 500px;
  }

}

@media screen and (max-width: 610px) {
  .press {
    padding: 100px 10px;
  }
  .press-welcome-text {
    top: 40px;
  }
  .press-content-container {
    width: 100%;
    gap: 50px;
  }
  .press-card {
    width: 320px;
    height: 600px;
  }
  .press-card-img-container {
    height: 320px;
  }
  .press-card-text-container {
    height: 310px;
  }
}
